<html>
  <head>
    <title>Static Table</title>
  </head>
  <body>
    <table>
      <tr>
        <th>Course</th>
        <th>Number of Classes Conducted</th>
        <th>Number of Classes Attended</th>
        <th>Attendance Percentage</th>
      </tr>
      {% for i in range(20) %}
      <tr>
        <td>{{ data['Course'][i] }}</td>
        <td>{{ data['Number of Classes Conducted'][i] }}</td>
        <td>{{ data['Number of Classes Attended'][i] }}</td>
        <td>{{ data['Attendance Percentage'][i] }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
